{% extends "base.html" %}

{% block title %}
<title>Cablesizer - Disclaimer</title>
{% endblock %}

{% block content %}
    <div class="Layout_flat">
    <h2>Disclaimer</h2>
   
        <p>You understand and agree that your use of this website is entirely at your own risk and that this website is provided "As Is". Cablesizer does not make any express or implied warranties, endorsements or representations whatsoever as to the information contained herein. This shall include, but not be limited to, implied warranties of merchantability and fitness for a particular purpose and non-infringement, and warranties that use of this website will be error-free or that defects in the website content will be corrected. </p>
        
    </div>
{% endblock %}