<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">

    <html xml:lang="en" xmlns="http://www.w3.org/1999/xhtml">
        <head><title>Cablesizer | Cable sizing to IEC and NEC standards</title><meta http-equiv="content-script-type" content="text/javascript">
        	<meta name="description" content="Cablesizer is an automated cable sizing and design tool to IEC and NEC standards">
            <meta name="keywords" content="cable sizing IEC 60364-5-52 NEC 2011 national electricity code">
            <link rel="shortcut icon" href="/static/images/favicon.ico" type="image/x-icon" />
            <link rel="stylesheet" href="/static/css/static.css" type="text/css" />
            
        </head>
        <body bgcolor="f2f2f2">
            <div id="main">
                <div id="header">
                    <div alt="" id="logo"><a href="."><img src="/static/images/cablesizer_logo_beta.png" /></a></div>
                    
                </div> 
        <div id="content" class="full-screen">
            <div style="width: 453px; height: 265px; margin-left: 20px; margin-right: 30px; float: left; background: url(/static/images/cable_main.jpg)"></div>
            <div style="width: 330px; float: left;">
                <h2>Get started now</h2>
                <p>It's free and easy to use!</p>
                <p>No signups or logins required, just click below to start sizing to either NEC or IEC standards:</p>
                
                <div id="toolbar"><a class="button_2 toolbar-item" href="/nec">NEC Cable Sizing</a></div>
                <div id="toolbar"><a class="button_1 toolbar-item" href="/iec">IEC Cable Sizing</a></div>
                
                <div style="padding-top:15px;"><p>Or have a look at the <a href="/help">tutorial pages</a>.</p></div>
            </div>
                
        <div id="footer">
            <table>
                <tbody>
                    <tr>
            <td class="grid-2">
                    <li class="first"><a href="/about">About</a></li>
                    <li><a href="/disclaimer">Disclaimer</a></li>
                    <li><a href="mailto:contact@cablesizer.com">Contact</a></li>
                </td>
            <td class="grid-1"></td>
            <td class="grid-4"></td>
            <td class="grid-1">
                <div><li class="first">&copy;2011 Cablesizer</li></div>
            </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        
        <!-- Begin Google Analytics -->
        <script type="text/javascript">
        
          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-22326383-1']);
          _gaq.push(['_trackPageview']);

          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();

        </script>
        <!-- End Google Analytics -->

        </body>
    </html>