{% extends "base.html" %}

{% block jscript %}

<style type="text/css">
#load_input { width: 1200px; }
#load_input label { width: 150px; }
#load_input label.error, #load_input input.Submit { margin-left: 153px; }
</style>

{% endblock %}

{% block content %}
<div class="Layout_menubar">
    <div class="indented"> <div class="underlinemenu"><p>NEC / NFPA 70: National Electricity Code (2011)</p></div></div>
</div>

<div class="Layout_menubar">
    <div class="underlinemenu">
    <ul>
    <li><a href="/nec/ampacity/">Ampacity</a></li>
    <li><a href="/nec/voltdrop/">Volt Drop</a></li>
    <li><a href="/nec/report/">Report</a></li>
    </ul>
    </div>
</div>

<div class=Layout_report>
    
    {% if show_report %}
        <h2>NEC Cable Sizing Report</h2>
        
        <p><b>Important Note:</b> If you change the common input data (e.g. basic cable and load information) on one page, make sure to run all of the relevant calculations again!</p>

<div class=Layout_report_left>
        <h3>Basic Information</h3>
        <p>The following basic cable specification was selected:</p>
        <div class="indented">
            <table border="0" cellpadding="2" cellspacing="0" width ="350">
            <colgroup width="65%">
            <colgroup width="35%">
            <tr><td>Conductor material:</td> <td>{{ cond_mat }}</td></tr>
            <tr><td>NEC Cable type:</td> <td>{{ cable_type }}</td></tr>
            <tr><td>Number of cores:</td> <td>{{ no_cores }} core</td></tr>
            </table>
        </div>
        
        <p>The following load parameters were selected:</p>
        <div class="indented">
            <table border="0" cellpadding="2" cellspacing="0" width ="350">
            <colgroup width="60%">
            <colgroup width="35%">
            <tr><td>Load type: </td> <td>{% if load_type == "General" %}General Load{% else %}Service, Feeder or Branch Load{% endif %}</td></tr>
            <tr><td>Number of phases: </td> <td>{% if no_phases == "3" %}Three phase{% else %}Single phase{% endif %}</td></tr>
            <tr><td>Nominal load voltage: </td> <td>{{ volts }} V</td></tr>
            <tr><td>Full load power factor: </td> <td>{{ pf }} pu</td></tr>
            {% if load_type == "General" %}
                {% if amps %}
                    <tr><td>Full load current: </td> <td>{{ amps }} A</td></tr>
                {% else %}
                    <tr><td>Rated load: </td> <td>{{ load_kw }} kW</td></tr>
                    <tr><td>Load efficiency: </td> <td>{{ eff }} pu</td></tr>
                    <tr><td>Full load current: </td> <td>{{ load_amps }} A</td></tr>
                {% endif %}
            {% else %}
                <tr><td>Continuous Load: </td> <td>{{ cont_load }} A</td></tr>
                <tr><td>Non-Continuous Load: </td> <td>{{ noncont_load }} A</td></tr>
                <tr><td>Protective Device Rating: </td> <td>{{ prot_device }} A</td></tr>
            {% endif %}
            </table>
        </div>
            
        {% if show_vdcalc %}
            <h3>Voltage Drop Considerations</h3>
            <p>The calculation of a {% if no_phases == "3" %}three{% else %}single{% endif %} phase voltage drop for a {{ selected_size }} {% if selected_metric > 110 %}kcmil{% else %}AWG{% endif %} cable is based on the following equation:</p>
            
            <div class="equation">
                {% if no_phases == "3" %}
                    <img height=38 alt="3ph_voltdrop" border=0 src="../../static/images/3ph_volt_drop.png">
                {% else %}
                    <img height=38 alt="1ph_voltdrop" border=0 src="../../static/images/1ph_volt_drop.png">
                {% endif %}
            </div>
            
            <p>Where V<sub>{% if no_phases == "3" %}3{% else %}1{% endif %}&#934</sub> is the calculated voltage drop (V)</p>
            <div class="indented">    
                <p>I is the full load current = {% if load_type == "General" %}{{ load_amps }}{% else %}{{ total_load }}{% endif %} A</p>
                <p>L is the total cable length = {{ cable_run }} ft</p>
                <p>R<sub>c</sub> is the cable ac resistance = {{ R_c }} &#937/ft (based on typical values)</p>
                <p>X<sub>c</sub> is the cable ac reactance = {{ X_c }} &#937/ft (based on typical values)</p>
            </div>
            
            <p><b>Result:</b> The voltage drop across the {{ selected_size }} {% if selected_metric > 110 %}kcmil{% else %}AWG{% endif %} cable is <b>V<sub>{% if no_phases == "3" %}3{% else %}1{% endif %}&#934</sub> = {{ volt_drop }} V </b> (or equivalently {{ percent_drop }} % of nominal voltage) </p>
        {% endif %}
    </div>
        
<div class=Layout_report_right>
        {% if show_ampcalc %}
            <h3>Ampacity Considerations</h3>
            <p>Cable installation method: <b>{{ inst_method }}</b></p>
            
            <p>The cable is installed under the following conditions:</p>
            
            <div class="indented">
                <table border="0" cellpadding="2" cellspacing="0" width ="510">
                <colgroup width="60%">
                <colgroup width="40%">
                <tr><td>Ambient Temperature: </td> <td> {{ amb_temp_F }}&degF ({{ amb_temp }}&degC)</td></tr>
                <tr><td>Conductor Temp Rating: </td> <td> {{ cond_temp }}&degF ({{ cond_temp_C }}&degC)</td></tr>
                
                {% if inst_select == "Tray" %}
                    <tr><td>Cable tray / ladder: </td> <td>{{ inst_query }} </td></tr>
                {% endif %}
                
                {% if not inst_select == "Tray" %}
                    <tr><td>No. of grouped current-carrying conductors: </td> <td> 
                    {% if no_cables == "1" %}3 or less{% endif %}
                    {% if no_cables == "0.8" %}4 to 6{% endif %}
                    {% if no_cables == "0.7" %}7 to 9{% endif %}
                    {% if no_cables == "0.5" %}10 to 20{% endif %}
                    {% if no_cables == "0.45" %}21 to 30{% endif %}
                    {% if no_cables == "0.4" %}31 to 40{% endif %}
                    {% if no_cables == "0.35" %}>41{% endif %}
                    </td></tr>
                {% endif %}
                </table>
            </div>
            
            {% if inst_select == "Raceways" and not inst_query == "0" %}
            <p>The cable is installed in circular raceway exposed to sunlight on or above the rooftop, with the following parameters:</p>
            <div class="indented">    
                <table border="0" cellpadding="2" cellspacing="0" width ="510">
                <colgroup width="60%">
                <colgroup width="40%">
                    
                    <tr><td>Distance above roof to bottom of conduit: </td> <td>
                    {% if inst_query == "33" %}0 - 13mm (0.5in){% endif %}
                    {% if inst_query == "22" %}13 - 90mm (0.5 - 3.5in){% endif %}
                    {% if inst_query == "17" %}90 - 300mm (3.5 - 12in){% endif %}
                    {% if inst_query == "14" %}300 - 900mm (12 - 36in){% endif %}
                    </td></tr>
                    <tr><td>Ambient temperature adjustment <br />(NEC 2011 Table 310.15(B)(3)(c)): </td> <td> {{ temp_adder_F }}&degF (or {{ inst_query }}&degC)</td></tr>
                    <tr><td>Effective ambient temperature: </td> <td> {{ eff_temp_F }}&degF (or {{ eff_temp }}&degC) </td></tr>
                </table>                
            </div>
            {% endif %}
            
            <p>Given these installation conditions, the adjustment factors are as follows:</p>
            <div class="indented">
                <table border="0" cellpadding="2" cellspacing="0" width ="600">
                <tr><td>Ambient Temperature: </td> <td> <b>{{ temp_derating }}</b> </td> <td>NEC 2011 Article 310.15(B)(2) </td></tr>
                {% if not inst_select == "Tray" %}
                        <tr><td>Grouping derating: </td> <td> <b>{{ group_derating }}</b> </td> <td>NEC 2011 {{ group_ref }}</td></tr>
                {% endif %}
                <tr><td>Total derating factor: </td> <td> <b>{{ total_derating }}</b></td></tr>
                </table>
            </div>
            
            {% if load_type == "Feeder" %}
                {% if full_load %}
                   <p>Continuous load + Non-Continuous Load = {{ total_load }} A</p>
                   <p>The assembly is listed to operate at 100% of the protective device rating.</p>
                   <p>Therefore, the selected load current is the protective device rating = {{ load_amps }} A</p>                   
                {% else %}
                   <p>125% x Continuous load + 100% x Non-Continuous load is {{ max_load }} A.
                   The protective device rating is {{ prot_device }} A. </p>
                   <p>The ampacity calculation is based on the larger of these two values, i.e. selected load current = {{ load_amps }} A</p>
                {% endif %}
            {% endif %}
            
            <p><b>Result:</b> For the selected load current: {{ load_amps }} A: </p>
            <div class="indented">
                <table border="0" cellpadding="2" cellspacing="0" width ="600">
                <tr><td>Minimum {{ no_cores }} Core cable size is: </td> <td> <b>{{ min_size }} {% if min_size_metric > 110 %}kcmil{% else %}AWG{% endif %} </b> </td></tr>
                <tr><td>Cable base ampacity: </td> <td> <b>{{ min_base_amps }} A</b> (NEC 2011 {{ ampacity_ref }}) </td></tr>
                <tr><td>Installed / derated ampacity: </td> <td> <b>{{ min_amps }} A</b></td></tr>
                </table>
            </div>
        {% endif %}
        
    {% else %}
    
        <h2>Cable sizing report could not be created!</h2>
        <p>You must first generate results for at least one of the calculations (i.e. ampacity, voltage drop or short circuit temperature rise) before a report can be created.</p>
        <p>If you've done this and a report still isn't created, make sure that you have cookies enabled in your browser.</p>
    {% endif %}

</div>
</form>
{% endblock %}